pytest~=6.2.5
pytest-dependency~=0.5.1
pytest-logger~=0.5.1
pytest-xvfb~=2.0.0
python-dateutil~=2.8.2
PyTweening~=1.0.4
PyYAML~=5.4.1
requests~=2.25.1
selenium~=3.141.0
tabulate~=0.8.9
urllib3~=1.26.5
webdriver-manager~=3.4.2
msedge-selenium-tools~=3.141.3
behave~=1.2.6
gherkin-official~=20.0.1
parse~=1.19.0
