PyAutoGUI==0.9.50
PyAutoIt==0.6.0
PyGetWindow==0.0.8
PyMsgBox==1.0.8
pyparsing==2.4.7
pyperclip==1.8.0
pyreadline==2.1
PyRect==0.1.4
PyScreeze==0.1.26
pyscreenshot==2.2
pytest==6.0.1
pytest-dependency==0.5.1
pytest-logger==0.5.1
pytest-xvfb==2.0.0
python-dateutil==2.8.1
PyTweening==1.0.3
pyvirtualdisplay==1.3.2
PyYAML==5.3.1
requests==2.24.0
selenium==3.141.0
tabulate==0.8.7
urllib3==1.25.10
webdriver-manager==3.2.2
